
:root{
  --bg:#010409; 
  --card-bg:#0d1117; 
  --border:#30363d; 
  --text:#c9d1d9; 
  --muted:#8b949e; 
  --accent:#58a6ff; 
  --btn-bg:#238636;
  --btn-hover:#2ea043;
  --input-bg:#010409;
}
*{box-sizing:border-box ;
text-decoration: none !important;}
body {
    margin: 0;
    min-height: 100vh;
    background: var(--bg);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    display: flex;
    flex-direction: column;
 
    padding: 20px;
    color: var(--text);
    display: flex;

    justify-content: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: -80px;
    right: -80px;
    width: 300px;
    height: 300px;
    pointer-events: none;
    z-index: 0;
    background: radial-gradient(circle, #4f46e5 0%, transparent 70%);
    border-radius: 50%;
}



.card{
width: 100%;
margin-top:20px;
}
h1{
  font-size: 24px;
  color: var(--text);
  margin-bottom: 4px;
}
.subtitle{
  color:var(--muted);
  font-size: 14px;
  margin-bottom: 18px;
}
label{
  display:block;
  margin-top:14px;
  font-size:12px;
  color:var(--text);
  margin-bottom: 6px;
  font-weight: 600;
}
input,textarea{
  width:100%;
  padding: 19px 12px;
  border-radius: 10px;
  background:var(--input-bg);
  border:1px solid var(--border);
  color:var(--text);
  font-size:14px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus, textarea:focus{
    border-color: var(--accent);
    outline: none;
    box-shadow: 0 0 0 3px rgba(88, 166, 255, 0.5); 
}
textarea{resize:vertical; min-height: 80px;}
button{
  width:100%;
  padding: 10px 12px;
  margin-top: 16px;
  background-color: #4f46e5;
  color: white;
  border:1px solid rgba(240, 246, 252, 0.1);
  border-radius:6px;
  font-size:14px;
  font-weight: 600;
  cursor:pointer;
  transition: background-color 0.15s ease-in-out;
}
.box{
  margin:10px 0;
  width: 100%;
  padding: 25px 12px;
  border-radius: 10px;
  background: var(--input-bg);
  border: 1px solid var(--border);
  color: var(--text);
  font-size: 14px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.footer{
  text-align:center;
  margin-top:20px;
  font-size:12px;
  color:var(--muted);
}





main.main-content-wrapper {
    width: 90%;
    margin: auto;
}